*,
::before,
::after {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --triangle-size: 50px;
    --color-background: #000000;
    --text: #ffffff;
    --text-dim: #aaaaaa;
    --surface: #1d1d1d;
    --surface2: #323232;
    --surface3: #282828;
    --surface3-rgb: 40 40 40;
}

p {
    font-family:
        "Bookerly", "Caecilia", "Calibri", "Arial", sans-serif,
        serif, monospace, "Comic Sans MS";
}

.container {
    padding: 5px;
    padding: 1vw;
    padding: min(1vw, 5px);

    height: 100%;
    height: 100vh;
    height: 100dvh;

    width: 100%;
    width: 100vw;
    width: 100dvw;

    background-color: var(--color-background);
    background: var(--color-background);

    position: relative;
}

.toggle-settings-button {
    height: 40px;
    height: 8vh;

    width: 40px;
    width: 8vh;

    background: var(--surface);

    border: solid var(--color-background);

    border-width: 5px;
    border-width: 1vw;
    border-width: min(1vw, 5px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    z-index: 50;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 5px;
    gap: 1vw;
    gap: min(1vw, 5px);

    height: 100%;
    width: 100%;
}

.settings-container {
    padding: 5px;
    padding: 1vw;
    padding: min(1vw, 5px);

    height: 100%;
    height: 100vh;
    height: 100dvh;

    width: 100%;
    width: 100vw;
    width: 100dvw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 30;

    background-color: var(--color-background);
    background: var(--color-background);

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (orientation: landscape) {
    .settings-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (orientation: portrait) {
    .settings-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.settings-button {
    background-color: var(--color-background);
    background: var(--color-background);

    border-radius: 20px;
    border-radius: 4vw;
    border-radius: min(5vw, 20px);

    border: 1px solid var(--text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.settings-button p {
    color: white;
    color: var(--text);

    font-size: 25px;
    font-size: 5vw;
}

.player {
    background-color: var(--surface);
    background: var(--surface);
    border-radius: 20px;
    border-radius: 4vw;
    border-radius: min(5vw, 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.mini .player {
    background-color: var(--surface2);
    background: var(--surface2);
    border-radius: 5px;
    border-radius: 1vw;
    border-radius: min(1vw, 5px);
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    padding: 10px;
    padding: 2vw;
    padding: min(2vw, 10px);
}

.spacer {
    flex: 1;
}

.content p {
    padding: 0px;
    margin: 0px;

    font-size: 125px;
    font-size: 15vw;

    font-weight: bold;
    font-weight: 700;

    color: var(--text);

    text-align: center;
}

.content p.rotate-left,
.content p.rotate-right {
    font-size: 15vh;
}

.player p.symbol {
    font-size: 75px;
    font-size: 10vw;
    font-size: min(10vw, 75px);

    font-weight: normal;
    font-weight: 400;

    color: var(--text-dim);
}

.content p.symbol.rotate-left,
.content p.symbol.rotate-right {
    font-size: 10vh;
}

.player p.small {
    font-size: 50px;
    font-size: 10vw;
    font-size: min(50px, 10vw);

    font-weight: normal;
    font-weight: 400;
}

.word-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.clickable {
    z-index: 10;
}

.full {
    position: absolute;
    top: 0px;
    top: 0;
    left: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.left,
.right {
    position: absolute;
    top: 0px;
    top: 0;
    width: 50%;
    height: 100%;
}

.top,
.bottom {
    position: absolute;
    left: 0px;
    left: 0;
    width: 100%;
    height: 50%;
}

.left {
    left: 0px;
    left: 0;
}

.right {
    right: 0px;
    right: 0;
}

.top {
    top: 0px;
    top: 0;
}

.bottom {
    bottom: 0px;
    bottom: 0;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.dark-right {
    background: linear-gradient(90deg, var(--surface) 50%, var(--surface2) 50%);
}

.dark-left {
    background: linear-gradient(270deg, var(--surface) 50%, var(--surface2) 50%);
}

.dark-top {
    background: linear-gradient(180deg, var(--surface) 50%, var(--surface2) 50%);
}

.dark-bottom {
    background: linear-gradient(0deg, var(--surface) 50%, var(--surface2) 50%);
}

.rotate-left {
    transform: rotate(90deg);
    transform-origin: center;
    --transform-deg: 90deg;
}

.rotate-right {
    transform: rotate(270deg);
    transform-origin: center;
    --transform-deg: 270deg;
}

.rotate-top {
    transform: rotate(180deg);
    transform-origin: center;
    --transform-deg: 180deg;
}

.rotate-bottom {
    transform: rotate(0deg);
    transform-origin: center;
    --transform-deg: 0deg;
}

.life-total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--transform-deg));
}

.hidden {
    display: none;
}

.arrow-player-bottom {
    width: 0;
    height: 0;
    border-left: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid var(--text);
    position: absolute;
    bottom: 0px;
    bottom: 0;
}

.arrow-player-top {
    width: 0;
    height: 0;
    border-left: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid transparent;
    border-top: var(--triangle-size) solid var(--text);
    position: absolute;
    top: 0px;
    top: 0;
}

.arrow-player-left {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;
    border-left: var(--triangle-size) solid var(--text);
    position: absolute;
    left: 0px;
    left: 0;
}

.arrow-player-right {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid var(--text);
    position: absolute;
    right: 0px;
    right: 0;
}

.player-svg {
    width: var(--triangle-size);
    height: var(--triangle-size);
    color: var(--text);
    position: absolute;
}

.player-svg-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
}

.player-svg-left {
    left: 0;
    transform: rotate(90deg);
}

.player-svg-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.player-svg-right {
    right: 0;
    transform: rotate(270deg);
}

.error-log-container {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 90%;
    pointer-events: none;
}